@import "materialize";
@import "materialdesignicons";


header, main, footer {
  padding-left: 300px;
}

.messages {
  height: 80vh;
  overflow: scroll;
  padding-bottom: 30px;
}

.full-height {
  height: 100vh;
}

.login {
  width: 100%;
}

.container {
  width: 100%;
}

#login-button {
  width: 25%;
  height: 50px;
  line-height: 50px;
  padding-top: 10px;
}

#chat-input {
  position: fixed;
  bottom: 0;
  width: 100%;

  .input-field {
    margin: 0;

    input {
      margin: 0;
    }
  }
}

